{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["babel-plugin-css-modules-transform", {
            "extensions": [".css"],
            "generateScopedName": "./generateName.js",
            "extractCss": "./lib/styles/index.css"
        }],
        ["@babel/plugin-transform-runtime",
            {
              "regenerator": true
            }
        ]
    ]
}
