.checkbox-wrapper {
    display: block;
    margin-bottom: 8px;
    position: relative;
}

.checkbox-wrapper-required::before {
    content: "*";
    color: red;
    position: absolute;
    left: -10px;
}

.checkbox-wrapper .rc-checkbox * {
    box-sizing: content-box;
}

.checkbox-wrapper .rc-checkbox-checked .rc-checkbox-inner {
    border-color: #1890ff;
    background-color: #1890ff;
}

.checkbox-wrapper .checkbox-label {
    display: inline-block;
    padding-left: 10px;
}

/* Radio */

.radio-wrapper {
    display: block;
    margin-bottom: 8px;
}

.radio-wrapper * {
    box-sizing: content-box;
}

.radio-wrapper .rc-checkbox-inner {
    border-radius: 50%;
}

.radio-wrapper .rc-checkbox:hover .rc-checkbox-inner {
    border-color: #1890ff;
}

.radio-wrapper .rc-checkbox .rc-checkbox-input:focus + .rc-checkbox-inner {
    border-color: #1890ff;
}

.radio-wrapper .rc-checkbox-checked .rc-checkbox-inner {
    border-color: #1890ff;
    background-color: #ffffff;
}

.radio-wrapper .rc-checkbox-inner:after {
    position: absolute;
    top: 3px;
    left: 3px;
    transform: scale(0);
    display: table;
    width: 8px;
    height: 8px;
    background-color: #1890ff;
    border-radius: 50%;
    border: 0;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.radio-wrapper .rc-checkbox-checked .rc-checkbox-inner:after {
    transform: scale(1);
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border: 0;
}

.radio-wrapper .radio-label {
    display: inline-block;
    padding-left: 10px;
}

.error-indicator {
    height: 20px;
    width: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    border: 1px solid red;
    box-shadow: 0px 0px 4px red;
    cursor: pointer;
}

.error-indicator .error-icon {
    line-height: 20px;
}

.jobot-form-submit-failed .jobot-form-invalid .input,
.jobot-form-submit-failed .jobot-form-invalid .textarea,
.jobot-form-submit-failed .jobot-form-invalid .rc-tree-select.rc-tree-select .rc-tree-select-selector,
.jobot-form-submit-failed .jobot-form-invalid .jobot-forms__formDateSelect input,
.jobot-form-submit-failed .jobot-form-invalid .jobot-forms__control {
    border-color: red;
}

/* Modal */
.pda-modal a {
    word-break: break-all;
}
@media screen and (max-width: 991px) {
    .pda-modal input.text {
        width: 90%;
    }
}

.pda-modal-close-button {
    right: 18px;
    top: 6px;
    cursor: pointer;
}

.pda-modal-close-button:hover svg {
    fill: rgba(0, 0, 0, 0.65);
}

.pda-modal-close-button:focus {
    outline: none;
}

.pda-modal-close-button:focus svg {
    fill: rgba(0, 0, 0, 0.65);
}

.spinner {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    animation:spin 1.2s linear infinite;
}

.button-text {
    vertical-align: middle;
}

label.disabled {
    cursor: not-allowed!important;
    background: #ccc!important;
}

@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}
