.formWrapper {
    font-family: Arial, Helvetica, sans-serif;
}

.formWrapper * {
    box-sizing: border-box;
}

.formBtn {
    color: white;
    background: #3a70bb;
    padding: 10px;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

.formBtn:focus {
    outline: none;
}
.formBtn:hover {
    background: #4487dd;
}

.formLink {
    color: #3a70bb;
    cursor: pointer;
    text-decoration: underline;
}

.formLink:hover {
    color: #4487dd;
}

.formLabel {
    margin-bottom: 10px;
    display: inline-block;
}

.formLabelOptional {
    color: #aaa;
}

.formInput {
    width: 100%;
    font-size: inherit;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.formInput:focus {
    outline: none;
}

.formDateSelect {
    display: flex;
}
.formDateSelect input {
    width: 100px;
    margin-right: 10px;
}

.formSectionBtn {
    color: white;
    background: #3a70bb;
    padding: 10px;
    border: none;
    font-size: inherit;
    cursor: pointer;
    margin-bottom: 15px;
}

.formSectionBtn:focus {
    outline: none;
}
.formSectionBtn:hover {
    background: #4487dd;
}

.error {
    color: #ed0214;
    margin-top: 5px;
}

.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileInput + label {
    color: white;
    display: inline-block;
    cursor: pointer;
    background: #3a70bb;
    padding: 10px;
}

.fileInput:focus + label,
.fileInput + label:hover {
    background-color: #4487dd;
}

.fileControls {
    display: flex;
}
