.checkbox-wrapper {
    display: block;
    margin-bottom: 8px;
}

.checkbox-wrapper .rc-checkbox * {
    box-sizing: content-box;
}

.checkbox-wrapper .rc-checkbox-checked .rc-checkbox-inner {
    border-color: #1890ff;
    background-color: #1890ff;
}

.checkbox-wrapper .checkbox-label {
    display: inline-block;
    padding-left: 10px;
}

/* Radio */

.radio-wrapper {
    display: block;
    margin-bottom: 8px;
}

.radio-wrapper * {
    box-sizing: content-box;
}

.radio-wrapper .rc-checkbox-inner {
    border-radius: 50%;
}

.radio-wrapper .rc-checkbox:hover .rc-checkbox-inner {
    border-color: #1890ff;
}

.radio-wrapper .rc-checkbox .rc-checkbox-input:focus + .rc-checkbox-inner {
    border-color: #1890ff;
}

.radio-wrapper .rc-checkbox-checked .rc-checkbox-inner {
    border-color: #1890ff;
    background-color: #ffffff;
}

.radio-wrapper .rc-checkbox-inner:after {
    position: absolute;
    top: 3px;
    left: 3px;
    transform: scale(0);
    display: table;
    width: 8px;
    height: 8px;
    background-color: #1890ff;
    border-radius: 50%;
    border: 0;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.radio-wrapper .rc-checkbox-checked .rc-checkbox-inner:after {
    transform: scale(1);
}

.radio-wrapper .radio-label {
    display: inline-block;
    padding-left: 10px;
}

.error-indicator {
    height: 20px;
    width: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    border: 1px solid red;
    box-shadow: 0px 0px 4px red;
    cursor: pointer;
}

.error-indicator .error-icon {
    line-height: 20px;
}

/* Modal */
.pda-modal {
    padding: 60px 24px 24px 24px;
    width: 800px;
}

.pda-modal:before {
    content: '';
    position: absolute;
    height: 1px;
    top: 40px;
    right: 0;
    left: 0;
    background-color: #f0f0f0;
}

.pda-modal-close-button {
    right: 18px;
    top: 6px;
    cursor: pointer;
}

.pda-modal-close-button:hover svg {
    fill: rgba(0, 0, 0, 0.65);
}

.pda-modal-close-button:focus {
    outline: none;
}

.pda-modal-close-button:focus svg {
    fill: rgba(0, 0, 0, 0.65);
}
