/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.rc-tree-select-single .rc-tree-select-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-search {
  position: absolute;
  top: 0;
  right: 11px;
  bottom: 0;
  left: 11px;
}
.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-search-input {
  width: 100%;
}
.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-item,
.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-placeholder {
  padding: 0;
  line-height: 34px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@supports (-moz-appearance: meterbar) {
  .rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-item,
  .rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-placeholder {
    line-height: 34px;
  }
}
.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-item {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-placeholder {
  pointer-events: none;
}
.rc-tree-select-single .rc-tree-select-selector::after,
.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-item::after,
.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-placeholder::after {
  display: inline-block;
  width: 0;
  visibility: hidden;
  content: '\a0';
}
.rc-tree-select-single.rc-tree-select-show-arrow .rc-tree-select-selection-search {
  right: 45px;
}
.rc-tree-select-single .rc-tree-select-selector:before {
  content: '';
  display: inline-block;
  position: absolute;
  align-self: stretch;
  background-color: hsl(0,0%,80%);
  margin-bottom: 8px;
  margin-top: 8px;
  width: 1px;
  box-sizing: border-box;
  right: 38px;
  top: 0px;
  bottom: 0px;
}
.rc-tree-select-single.rc-tree-select-show-arrow .rc-tree-select-selection-item,
.rc-tree-select-single.rc-tree-select-show-arrow .rc-tree-select-selection-placeholder {
  padding-right: 28px;
}
.rc-tree-select-single.rc-tree-select-open .rc-tree-select-selection-item {
  opacity: 0.4;
}
.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  height: 36px;
  padding: 0 11px;
}
.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector input {
  cursor: pointer;
}
.rc-tree-select-show-search.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  cursor: text;
}
.rc-tree-select-show-search.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector input {
  cursor: auto;
}
.rc-tree-select-focused.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  border-color: #2684FF;
  border-width: 1px !important;
  box-shadow: 0 0 0 1px #2684FF !important;
  outline: 0;
}
.rc-tree-select-disabled.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  cursor: not-allowed;
}
.rc-tree-select-disabled.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector input {
  cursor: not-allowed;
}
.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector .rc-tree-select-selection-search-input {
  background: transparent;
  border: none;
  outline: none;
}
.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector .rc-tree-select-selection-search-input {
  height: 34px;
}
.rc-tree-select-single.rc-tree-select-customize-input .rc-tree-select-selector::after {
  display: none;
}
.rc-tree-select-single.rc-tree-select-customize-input .rc-tree-select-selector .rc-tree-select-selection-search {
  position: static;
  width: 100%;
}
.rc-tree-select-single.rc-tree-select-customize-input .rc-tree-select-selector .rc-tree-select-selection-placeholder {
  position: absolute;
  right: 0;
  left: 0;
  padding: 0 11px;
}
.rc-tree-select-single.rc-tree-select-customize-input .rc-tree-select-selector .rc-tree-select-selection-placeholder::after {
  display: none;
}
.rc-tree-select-single.rc-tree-select-lg:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  height: 40px;
}
.rc-tree-select-single.rc-tree-select-lg:not(.rc-tree-select-customize-input) .rc-tree-select-selector .rc-tree-select-selection-item,
.rc-tree-select-single.rc-tree-select-lg:not(.rc-tree-select-customize-input) .rc-tree-select-selector .rc-tree-select-selection-placeholder {
  line-height: 38px;
}
.rc-tree-select-single.rc-tree-select-lg:not(.rc-tree-select-customize-input):not(.rc-tree-select-customize-input) .rc-tree-select-selection-search-input {
  height: 38px;
}
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  height: 24px;
}
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input) .rc-tree-select-selector .rc-tree-select-selection-item,
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input) .rc-tree-select-selector .rc-tree-select-selection-placeholder {
  line-height: 22px;
}
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input):not(.rc-tree-select-customize-input) .rc-tree-select-selection-search-input {
  height: 22px;
}
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input) .rc-tree-select-selection-search {
  right: 7px;
  left: 7px;
}
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  padding: 0 7px;
}
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input).rc-tree-select-show-arrow .rc-tree-select-selection-search {
  right: 28px;
}
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input).rc-tree-select-show-arrow .rc-tree-select-selection-item,
.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input).rc-tree-select-show-arrow .rc-tree-select-selection-placeholder {
  padding-right: 21px;
}
.rc-tree-select-single.rc-tree-select-lg:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  padding: 0 11px;
}
/**
 * Do not merge `height` & `line-height` under style with `selection` & `search`,
 * since chrome may update to redesign with its align logic.
 */
.rc-tree-select-multiple .rc-tree-select-selector {
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 4px;
}
.rc-tree-select-multiple .rc-tree-select-selector input {
  cursor: pointer;
}
.rc-tree-select-show-search.rc-tree-select-multiple .rc-tree-select-selector {
  cursor: text;
}
.rc-tree-select-show-search.rc-tree-select-multiple .rc-tree-select-selector input {
  cursor: auto;
}
.rc-tree-select-focused.rc-tree-select-multiple .rc-tree-select-selector {
  border-color: #2684FF;
  border-width: 1px !important;
  box-shadow: 0 0 0 1px #2684FF !important;
  outline: 0;
}
.rc-tree-select-disabled.rc-tree-select-multiple .rc-tree-select-selector {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  cursor: not-allowed;
}
.rc-tree-select-disabled.rc-tree-select-multiple .rc-tree-select-selector input {
  cursor: not-allowed;
}
.rc-tree-select-multiple .rc-tree-select-selector .rc-tree-select-selection-search-input {
  background: transparent;
  border: none;
  outline: none;
}
.rc-tree-select-show-search.rc-tree-select-multiple .rc-tree-select-selector {
  cursor: text;
}
.rc-tree-select-multiple .rc-tree-select-selector::after {
  display: inline-block;
  width: 0;
  margin: 2px 0;
  line-height: 24px;
  content: '\a0';
}
.rc-tree-select-multiple.rc-tree-select-allow-clear .rc-tree-select-selector {
  padding-right: 24px;
}
.rc-tree-select-multiple .rc-tree-select-selection-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  height: 24px;
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom: 2px;
  padding: 0 4px 0 8px;
  line-height: 22px;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  cursor: default;
  -webkit-transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.rc-tree-select-multiple .rc-tree-select-selection-item-content {
  display: inline-block;
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rc-tree-select-multiple .rc-tree-select-selection-item-remove {
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.45);
  font-weight: bold;
  font-size: 12px;
  line-height: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
}
.rc-tree-select-multiple .rc-tree-select-selection-item-remove > * {
  line-height: 1;
}
.rc-tree-select-multiple .rc-tree-select-selection-item-remove svg {
  display: inline-block;
}
.rc-tree-select-multiple .rc-tree-select-selection-item-remove::before {
  display: none;
}
.rc-tree-select-multiple .rc-tree-select-selection-item-remove .rc-tree-select-multiple .rc-tree-select-selection-item-remove-icon {
  display: block;
}
.rc-tree-select-multiple .rc-tree-select-selection-item-remove > .anticon {
  vertical-align: -0.2em;
}
.rc-tree-select-multiple .rc-tree-select-selection-item-remove:hover {
  color: rgba(0, 0, 0, 0.75);
}
.rc-tree-select-multiple .rc-tree-select-selection-search {
  position: relative;
  margin-left: 0.5px;
}
.rc-tree-select-multiple .rc-tree-select-selection-search-input,
.rc-tree-select-multiple .rc-tree-select-selection-search-mirror {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5715;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.rc-tree-select-multiple .rc-tree-select-selection-search-input {
  width: 100%;
  min-width: 3px;
}
.rc-tree-select-multiple .rc-tree-select-selection-search-mirror {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  white-space: nowrap;
  visibility: hidden;
}
.rc-tree-select-multiple .rc-tree-select-selection-search:first-child .rc-tree-select-selection-search-input {
  margin-left: 6.5px;
}
.rc-tree-select-multiple .rc-tree-select-selection-placeholder {
  position: absolute;
  top: 50%;
  right: 11px;
  left: 11px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.rc-tree-select-multiple.rc-tree-select-lg .rc-tree-select-selector::after {
  line-height: 32px;
}
.rc-tree-select-multiple.rc-tree-select-lg .rc-tree-select-selection-item {
  height: 32px;
  line-height: 30px;
}
.rc-tree-select-multiple.rc-tree-select-lg .rc-tree-select-selection-search {
  height: 33px;
  line-height: 33px;
}
.rc-tree-select-multiple.rc-tree-select-lg .rc-tree-select-selection-search-input,
.rc-tree-select-multiple.rc-tree-select-lg .rc-tree-select-selection-search-mirror {
  height: 32px;
  line-height: 30px;
}
.rc-tree-select-multiple.rc-tree-select-sm .rc-tree-select-selector::after {
  line-height: 16px;
}
.rc-tree-select-multiple.rc-tree-select-sm .rc-tree-select-selection-item {
  height: 16px;
  line-height: 14px;
}
.rc-tree-select-multiple.rc-tree-select-sm .rc-tree-select-selection-search {
  height: 17px;
  line-height: 17px;
}
.rc-tree-select-multiple.rc-tree-select-sm .rc-tree-select-selection-search-input,
.rc-tree-select-multiple.rc-tree-select-sm .rc-tree-select-selection-search-mirror {
  height: 16px;
  line-height: 14px;
}
.rc-tree-select-multiple.rc-tree-select-sm .rc-tree-select-selection-placeholder {
  left: 7px;
}
.rc-tree-select-multiple.rc-tree-select-sm .rc-tree-select-selection-search:first-child .rc-tree-select-selection-search-input {
  margin-left: 3px;
}
.rc-tree-select-multiple.rc-tree-select-lg .rc-tree-select-selection-item {
  height: 32px;
  line-height: 32px;
}
.rc-tree-select-disabled .rc-tree-select-selection-item-remove {
  display: none;
}
/* Reset search input style */
.rc-tree-select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.rc-tree-select:not(.rc-tree-select-disabled):hover .rc-tree-select-selector {
  border-color: #2684FF;
  border-width: 1px !important;
  box-shadow: 0 0 0 1px #2684FF !important;
}
.rc-tree-select-selection-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media all and (-ms-high-contrast: none) {
  .rc-tree-select-selection-item *::-ms-backdrop,
  .rc-tree-select-selection-item {
    -ms-flex: auto;
        flex: auto;
  }
}
.rc-tree-select-selection-placeholder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.4;
}
@media all and (-ms-high-contrast: none) {
  .rc-tree-select-selection-placeholder *::-ms-backdrop,
  .rc-tree-select-selection-placeholder {
    -ms-flex: auto;
        flex: auto;
  }
}
.rc-tree-select-arrow {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 53%;
  right: 14px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  line-height: 1;
  text-align: center;
  pointer-events: none;
}
.rc-tree-select-arrow > * {
  line-height: 1;
}
.rc-tree-select-arrow svg {
  display: inline-block;
}
.rc-tree-select-arrow::before {
  display: none;
}
.rc-tree-select-arrow .rc-tree-select-arrow-icon {
  display: block;
}
.rc-tree-select-arrow .anticon {
  vertical-align: top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.rc-tree-select-arrow .anticon > svg {
  vertical-align: top;
}
.rc-tree-select-arrow .anticon:not(.anticon-down) {
  pointer-events: auto;
}
.rc-tree-select-clear {
  position: absolute;
  top: 50%;
  right: 11px;
  z-index: 1;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  background: #fff;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: color 0.3s ease, opacity 0.15s ease;
  transition: color 0.3s ease, opacity 0.15s ease;
  text-rendering: auto;
}
.rc-tree-select-clear::before {
  display: block;
}
.rc-tree-select-clear:hover {
  color: rgba(0, 0, 0, 0.45);
}
.rc-tree-select:hover .rc-tree-select-clear {
  opacity: 1;
}
.rc-tree-select-dropdown {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 0;
  overflow: hidden;
  font-size: 14px;
  font-variant: initial;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.rc-tree-select-dropdown.slide-up-enter.slide-up-enter-active.rc-tree-select-dropdown-placement-bottomLeft,
.rc-tree-select-dropdown.slide-up-appear.slide-up-appear-active.rc-tree-select-dropdown-placement-bottomLeft {
  -webkit-animation-name: antSlideUpIn;
          animation-name: antSlideUpIn;
}
.rc-tree-select-dropdown.slide-up-enter.slide-up-enter-active.rc-tree-select-dropdown-placement-topLeft,
.rc-tree-select-dropdown.slide-up-appear.slide-up-appear-active.rc-tree-select-dropdown-placement-topLeft {
  -webkit-animation-name: antSlideDownIn;
          animation-name: antSlideDownIn;
}
.rc-tree-select-dropdown.slide-up-leave.slide-up-leave-active.rc-tree-select-dropdown-placement-bottomLeft {
  -webkit-animation-name: antSlideUpOut;
          animation-name: antSlideUpOut;
}
.rc-tree-select-dropdown.slide-up-leave.slide-up-leave-active.rc-tree-select-dropdown-placement-topLeft {
  -webkit-animation-name: antSlideDownOut;
          animation-name: antSlideDownOut;
}
.rc-tree-select-dropdown-hidden {
  display: none;
}
.rc-tree-select-item-empty {
  position: relative;
  display: block;
  min-height: 32px;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.rc-tree-select-item {
  position: relative;
  display: block;
  min-height: 32px;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.rc-tree-select-item-group {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  cursor: default;
}
.rc-tree-select-item-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rc-tree-select-item-option-content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rc-tree-select-item-option-state {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.rc-tree-select-item-option-active:not(.rc-tree-select-item-option-disabled) {
  background-color: #f5f5f5;
}
.rc-tree-select-item-option-selected:not(.rc-tree-select-item-option-disabled) {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  background-color: #e6f7ff;
}
.rc-tree-select-item-option-selected:not(.rc-tree-select-item-option-disabled) .rc-tree-select-item-option-state {
  color: #1890ff;
}
.rc-tree-select-item-option-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.rc-tree-select-item-option-grouped {
  padding-left: 24px;
}
.rc-tree-select-lg {
  font-size: 16px;
}
.rc-tree-select-borderless .rc-tree-select-selector {
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.rc-tree-select-rtl {
  direction: rtl;
}
.rc-tree-select-rtl .rc-tree-select-arrow {
  right: initial;
  left: 11px;
}
.rc-tree-select-rtl .rc-tree-select-clear {
  right: initial;
  left: 11px;
}
.rc-tree-select-dropdown-rtl {
  direction: rtl;
}
.rc-tree-select-dropdown-rtl .rc-tree-select-item-option-grouped {
  padding-right: 24px;
  padding-left: 12px;
}
.rc-tree-select-rtl.rc-tree-select-multiple.rc-tree-select-allow-clear .rc-tree-select-selector {
  padding-right: 4px;
  padding-left: 24px;
}
.rc-tree-select-rtl.rc-tree-select-multiple .rc-tree-select-selection-item {
  margin-right: 0;
  margin-left: 4px;
  padding: 0 8px 0 4px;
  text-align: right;
}
.rc-tree-select-rtl.rc-tree-select-multiple .rc-tree-select-selection-item-content {
  margin-right: 0;
  margin-left: 4px;
  text-align: right;
}
.rc-tree-select-rtl.rc-tree-select-multiple .rc-tree-select-selection-search {
  margin-right: 0.5px;
  margin-left: 4px;
}
.rc-tree-select-rtl.rc-tree-select-multiple .rc-tree-select-selection-search-mirror {
  right: 0;
  left: auto;
}
.rc-tree-select-rtl.rc-tree-select-multiple .rc-tree-select-selection-placeholder {
  right: 11px;
  left: auto;
}
.rc-tree-select-rtl.rc-tree-select-multiple.rc-tree-select-sm .rc-tree-select-selection-placeholder {
  right: 7px;
}
.rc-tree-select-rtl.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-item,
.rc-tree-select-rtl.rc-tree-select-single .rc-tree-select-selector .rc-tree-select-selection-placeholder {
  right: 0;
  left: 9px;
  text-align: right;
}
.rc-tree-select-rtl.rc-tree-select-single.rc-tree-select-show-arrow .rc-tree-select-selection-search {
  right: 11px;
  left: 25px;
}
.rc-tree-select-rtl.rc-tree-select-single.rc-tree-select-show-arrow .rc-tree-select-selection-item,
.rc-tree-select-rtl.rc-tree-select-single.rc-tree-select-show-arrow .rc-tree-select-selection-placeholder {
  padding-right: 0;
  padding-left: 18px;
}
.rc-tree-select-rtl.rc-tree-select-single:not(.rc-tree-select-customize-input) .rc-tree-select-selector {
  padding: 0 11px;
}
.rc-tree-select-rtl.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input).rc-tree-select-show-arrow .rc-tree-select-selection-search {
  right: 0;
}
.rc-tree-select-rtl.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input).rc-tree-select-show-arrow .rc-tree-select-selection-item,
.rc-tree-select-rtl.rc-tree-select-single.rc-tree-select-sm:not(.rc-tree-select-customize-input).rc-tree-select-show-arrow .rc-tree-select-selection-placeholder {
  padding-right: 0;
  padding-left: 21px;
}

.rc-tree-select-empty {
  line-height: 38px;
  text-align: center;
}
/* tree-tree */
.rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode {
    position: relative;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4px;
    left: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    content: '';
    pointer-events: none;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode:hover::before {
    background: #f5f5f5;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode > * {
    z-index: 1;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode .rc-tree-tree-switcher {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode .rc-tree-tree-node-content-wrapper {
    border-radius: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode .rc-tree-tree-node-content-wrapper:hover {
    background: transparent;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode .rc-tree-tree-node-content-wrapper.rc-tree-tree-node-selected {
    color: #fff;
    background: transparent;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode-selected:hover::before,
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode-selected::before {
    background: #1890ff;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode-selected .rc-tree-tree-switcher {
    color: #fff;
  }
  .rc-tree-tree.rc-tree-tree-directory .rc-tree-tree-treenode-selected .rc-tree-tree-node-content-wrapper {
    color: #fff;
    background: transparent;
  }
  .rc-tree-tree-checkbox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    position: relative;
    top: -0.09em;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
  }
  .rc-tree-tree-checkbox-wrapper:hover .rc-tree-tree-checkbox-inner,
  .rc-tree-tree-checkbox:hover .rc-tree-tree-checkbox-inner,
  .rc-tree-tree-checkbox-input:focus + .rc-tree-tree-checkbox-inner {
    border-color: #1890ff;
  }
  .rc-tree-tree-checkbox-checked::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #1890ff;
    border-radius: 2px;
    visibility: hidden;
    -webkit-animation: antCheckboxEffect 0.36s ease-in-out;
            animation: antCheckboxEffect 0.36s ease-in-out;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    content: '';
  }
  .rc-tree-tree-checkbox:hover::after,
  .rc-tree-tree-checkbox-wrapper:hover .rc-tree-tree-checkbox::after {
    visibility: visible;
  }
  .rc-tree-tree-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    direction: ltr;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    border-collapse: separate;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .rc-tree-tree-checkbox-inner::after {
    position: absolute;
    top: 50%;
    left: 22%;
    display: table;
    width: 5.71428571px;
    height: 9.14285714px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg) scale(0) translate(-50%, -50%);
            transform: rotate(45deg) scale(0) translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    content: ' ';
  }
  .rc-tree-tree-checkbox-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .rc-tree-tree-checkbox-checked .rc-tree-tree-checkbox-inner::after {
    position: absolute;
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
            transform: rotate(45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    content: ' ';
  }
  .rc-tree-tree-checkbox-checked .rc-tree-tree-checkbox-inner {
    background-color: #1890ff;
    border-color: #1890ff;
  }
  .rc-tree-tree-checkbox-disabled {
    cursor: not-allowed;
  }
  .rc-tree-tree-checkbox-disabled.rc-tree-tree-checkbox-checked .rc-tree-tree-checkbox-inner::after {
    border-color: rgba(0, 0, 0, 0.25);
    -webkit-animation-name: none;
            animation-name: none;
  }
  .rc-tree-tree-checkbox-disabled .rc-tree-tree-checkbox-input {
    cursor: not-allowed;
  }
  .rc-tree-tree-checkbox-disabled .rc-tree-tree-checkbox-inner {
    background-color: #f5f5f5;
    border-color: #d9d9d9 !important;
  }
  .rc-tree-tree-checkbox-disabled .rc-tree-tree-checkbox-inner::after {
    border-color: #f5f5f5;
    border-collapse: separate;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .rc-tree-tree-checkbox-disabled + span {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .rc-tree-tree-checkbox-disabled:hover::after,
  .rc-tree-tree-checkbox-wrapper:hover .rc-tree-tree-checkbox-disabled::after {
    visibility: hidden;
  }
  .rc-tree-tree-checkbox-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    display: inline-block;
    line-height: unset;
    cursor: pointer;
  }
  .rc-tree-tree-checkbox-wrapper.rc-tree-tree-checkbox-wrapper-disabled {
    cursor: not-allowed;
  }
  .rc-tree-tree-checkbox-wrapper + .rc-tree-tree-checkbox-wrapper {
    margin-left: 8px;
  }
  .rc-tree-tree-checkbox + span {
    padding-right: 8px;
    padding-left: 8px;
  }
  .rc-tree-tree-checkbox-group {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    display: inline-block;
  }
  .rc-tree-tree-checkbox-group-item {
    display: inline-block;
    margin-right: 8px;
  }
  .rc-tree-tree-checkbox-group-item:last-child {
    margin-right: 0;
  }
  .rc-tree-tree-checkbox-group-item + .rc-tree-tree-checkbox-group-item {
    margin-left: 0;
  }
  .rc-tree-tree-checkbox-indeterminate .rc-tree-tree-checkbox-inner {
    background-color: #fff;
    border-color: #d9d9d9;
  }
  .rc-tree-tree-checkbox-indeterminate .rc-tree-tree-checkbox-inner::after {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #1890ff;
    border: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    content: ' ';
  }
  .rc-tree-tree-checkbox-indeterminate.rc-tree-tree-checkbox-disabled .rc-tree-tree-checkbox-inner::after {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.25);
  }
  .rc-tree-tree {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    background: #fff;
    border-radius: 2px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .rc-tree-tree-focused:not(:hover):not(.rc-tree-tree-active-focused) {
    background: #e6f7ff;
  }
  .rc-tree-tree-list-holder-inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .rc-tree-tree.rc-tree-tree-block-node .rc-tree-tree-list-holder-inner {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .rc-tree-tree.rc-tree-tree-block-node .rc-tree-tree-list-holder-inner .rc-tree-tree-node-content-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .rc-tree-tree .rc-tree-tree-treenode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 4px 0;
    outline: none;
  }
  .rc-tree-tree .rc-tree-tree-treenode-disabled .rc-tree-tree-node-content-wrapper {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .rc-tree-tree .rc-tree-tree-treenode-disabled .rc-tree-tree-node-content-wrapper:hover {
    background: transparent;
  }
  .rc-tree-tree .rc-tree-tree-treenode-active .rc-tree-tree-node-content-wrapper {
    background: #f5f5f5;
  }
  .rc-tree-tree-indent {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .rc-tree-tree-indent-unit {
    display: inline-block;
    width: 24px;
  }
  .rc-tree-tree .rc-tree-tree-switcher {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 24px;
    height: 24px;
    margin: 0;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
  }
  .rc-tree-tree .rc-tree-tree-switcher .rc-tree-tree-switcher-icon,
  .rc-tree-tree .rc-tree-tree-switcher .anticon {
    font-size: 10px;
    display: inline-block;
    font-weight: bold;
  }
  .rc-tree-tree .rc-tree-tree-switcher .rc-tree-tree-switcher-icon svg,
  .rc-tree-tree .rc-tree-tree-switcher .anticon svg {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .rc-tree-tree .rc-tree-tree-switcher-noop {
    cursor: default;
  }
  .rc-tree-tree .rc-tree-tree-switcher_close .anticon svg {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .rc-tree-tree .rc-tree-tree-switcher-loading-icon {
    color: #1890ff;
  }
  .rc-tree-tree .rc-tree-tree-checkbox {
    top: initial;
    margin: 4px 8px 0 0;
  }
  .rc-tree-tree .rc-tree-tree-node-content-wrapper {
    min-height: 24px;
    margin: 0;
    padding: 0 4px;
    color: inherit;
    line-height: 24px;
    background: transparent;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .rc-tree-tree .rc-tree-tree-node-content-wrapper:hover {
    background-color: #f5f5f5;
  }
  .rc-tree-tree .rc-tree-tree-node-content-wrapper.rc-tree-tree-node-selected {
    background-color: #2684FF;
    color: #fff;
  }
  .rc-tree-tree .rc-tree-tree-node-content-wrapper .rc-tree-tree-iconEle {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
  }
  .rc-tree-tree .rc-tree-tree-node-content-wrapper .rc-tree-tree-iconEle:empty {
    display: none;
  }
  .rc-tree-tree-node-content-wrapper[draggable='true'] {
    line-height: 20px;
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .rc-tree-tree .rc-tree-tree-treenode.drag-over > [draggable] {
    color: white;
    background-color: #1890ff;
    opacity: 0.8;
  }
  .rc-tree-tree .rc-tree-tree-treenode.drag-over-gap-top > [draggable] {
    border-top-color: #1890ff;
  }
  .rc-tree-tree .rc-tree-tree-treenode.drag-over-gap-bottom > [draggable] {
    border-bottom-color: #1890ff;
  }
  .rc-tree-tree-show-line {
    /* Motion should hide line of measure */
  }
  .rc-tree-tree-show-line .rc-tree-tree-indent-unit {
    position: relative;
    height: 100%;
  }
  .rc-tree-tree-show-line .rc-tree-tree-indent-unit::before {
    position: absolute;
    top: calc(100% - 4px);
    right: -12px;
    bottom: -28px;
    border-right: 1px solid #d9d9d9;
    content: '';
  }
  .rc-tree-tree-show-line .rc-tree-tree-indent-unit-end::before {
    display: none;
  }
  .rc-tree-tree-show-line .rc-tree-tree-treenode-motion:not(.rc-tree-motion-collapse-leave):not(.rc-tree-motion-collapse-appear-active) .rc-tree-tree-indent-unit::before {
    display: none;
  }
  .rc-tree-tree-show-line .rc-tree-tree-switcher {
    z-index: 1;
    background: #fff;
  }
  .rc-tree-tree-rtl {
    direction: rtl;
  }
  .rc-tree-tree .rc-tree-tree-treenode-rtl {
    direction: rtl;
  }
  .rc-tree-tree-rtl.rc-tree-tree .rc-tree-tree-switcher_close .rc-tree-tree-switcher-icon svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .rc-tree-tree-rtl.rc-tree-tree-show-line .rc-tree-tree-indent-unit::before {
    right: auto;
    left: -12px;
    border-right: none;
    border-left: 1px solid #d9d9d9;
  }
  @-webkit-keyframes antCheckboxEffect {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1.6);
              transform: scale(1.6);
      opacity: 0;
    }
  }
  @keyframes antCheckboxEffect {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1.6);
              transform: scale(1.6);
      opacity: 0;
    }
  }
  .rc-tree-select-tree-checkbox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    position: relative;
    top: -0.09em;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
  }
  .rc-tree-select-tree-checkbox-wrapper:hover .rc-tree-select-tree-checkbox-inner,
  .rc-tree-select-tree-checkbox:hover .rc-tree-select-tree-checkbox-inner,
  .rc-tree-select-tree-checkbox-input:focus + .rc-tree-select-tree-checkbox-inner {
    border-color: #1890ff;
  }
  .rc-tree-select-tree-checkbox-checked::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #1890ff;
    border-radius: 2px;
    visibility: hidden;
    -webkit-animation: antCheckboxEffect 0.36s ease-in-out;
            animation: antCheckboxEffect 0.36s ease-in-out;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    content: '';
  }
  .rc-tree-select-tree-checkbox:hover::after,
  .rc-tree-select-tree-checkbox-wrapper:hover .rc-tree-select-tree-checkbox::after {
    visibility: visible;
  }
  .rc-tree-select-tree-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    direction: ltr;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    border-collapse: separate;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .rc-tree-select-tree-checkbox-inner::after {
    position: absolute;
    top: 50%;
    left: 22%;
    display: table;
    width: 5.71428571px;
    height: 9.14285714px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg) scale(0) translate(-50%, -50%);
            transform: rotate(45deg) scale(0) translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    content: ' ';
  }
  .rc-tree-select-tree-checkbox-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .rc-tree-select-tree-checkbox-checked .rc-tree-select-tree-checkbox-inner::after {
    position: absolute;
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
            transform: rotate(45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    content: ' ';
  }
  .rc-tree-select-tree-checkbox-checked .rc-tree-select-tree-checkbox-inner {
    background-color: #1890ff;
    border-color: #1890ff;
  }
  .rc-tree-select-tree-checkbox-disabled {
    cursor: not-allowed;
  }
  .rc-tree-select-tree-checkbox-disabled.rc-tree-select-tree-checkbox-checked .rc-tree-select-tree-checkbox-inner::after {
    border-color: rgba(0, 0, 0, 0.25);
    -webkit-animation-name: none;
            animation-name: none;
  }
  .rc-tree-select-tree-checkbox-disabled .rc-tree-select-tree-checkbox-input {
    cursor: not-allowed;
  }
  .rc-tree-select-tree-checkbox-disabled .rc-tree-select-tree-checkbox-inner {
    background-color: #f5f5f5;
    border-color: #d9d9d9 !important;
  }
  .rc-tree-select-tree-checkbox-disabled .rc-tree-select-tree-checkbox-inner::after {
    border-color: #f5f5f5;
    border-collapse: separate;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .rc-tree-select-tree-checkbox-disabled + span {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .rc-tree-select-tree-checkbox-disabled:hover::after,
  .rc-tree-select-tree-checkbox-wrapper:hover .rc-tree-select-tree-checkbox-disabled::after {
    visibility: hidden;
  }
  .rc-tree-select-tree-checkbox-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    display: inline-block;
    line-height: unset;
    cursor: pointer;
  }
  .rc-tree-select-tree-checkbox-wrapper.rc-tree-select-tree-checkbox-wrapper-disabled {
    cursor: not-allowed;
  }
  .rc-tree-select-tree-checkbox-wrapper + .rc-tree-select-tree-checkbox-wrapper {
    margin-left: 8px;
  }
  .rc-tree-select-tree-checkbox + span {
    padding-right: 8px;
    padding-left: 8px;
  }
  .rc-tree-select-tree-checkbox-group {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    display: inline-block;
  }
  .rc-tree-select-tree-checkbox-group-item {
    display: inline-block;
    margin-right: 8px;
  }
  .rc-tree-select-tree-checkbox-group-item:last-child {
    margin-right: 0;
  }
  .rc-tree-select-tree-checkbox-group-item + .rc-tree-select-tree-checkbox-group-item {
    margin-left: 0;
  }
  .rc-tree-select-tree-checkbox-indeterminate .rc-tree-select-tree-checkbox-inner {
    background-color: #fff;
    border-color: #d9d9d9;
  }
  .rc-tree-select-tree-checkbox-indeterminate .rc-tree-select-tree-checkbox-inner::after {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #1890ff;
    border: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    content: ' ';
  }
  .rc-tree-select-tree-checkbox-indeterminate.rc-tree-select-tree-checkbox-disabled .rc-tree-select-tree-checkbox-inner::after {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.25);
  }
  .rc-tree-tree-select-dropdown {
    padding: 8px 4px 0;
  }
  .rc-tree-tree-select-dropdown-rtl {
    direction: rtl;
  }
  .rc-tree-tree-select-dropdown .rc-tree-select-tree {
    border-radius: 0;
  }
  .rc-tree-tree-select-dropdown .rc-tree-select-tree-list-holder-inner {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .rc-tree-tree-select-dropdown .rc-tree-select-tree-list-holder-inner .rc-tree-select-tree-treenode {
    padding-bottom: 8px;
  }
  .rc-tree-tree-select-dropdown .rc-tree-select-tree-list-holder-inner .rc-tree-select-tree-treenode .rc-tree-select-tree-node-content-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .rc-tree-select-tree {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    background: #fff;
    border-radius: 2px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .rc-tree-select-tree-focused:not(:hover):not(.rc-tree-select-tree-active-focused) {
    background: #e6f7ff;
  }
  .rc-tree-select-tree-list-holder-inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .rc-tree-select-tree.rc-tree-select-tree-block-node .rc-tree-select-tree-list-holder-inner {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .rc-tree-select-tree.rc-tree-select-tree-block-node .rc-tree-select-tree-list-holder-inner .rc-tree-select-tree-node-content-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .rc-tree-select-tree .rc-tree-select-tree-treenode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 4px 0;
    outline: none;
  }
  .rc-tree-select-tree .rc-tree-select-tree-treenode-disabled .rc-tree-select-tree-node-content-wrapper {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .rc-tree-select-tree .rc-tree-select-tree-treenode-disabled .rc-tree-select-tree-node-content-wrapper:hover {
    background: transparent;
  }
  .rc-tree-select-tree .rc-tree-select-tree-treenode-active .rc-tree-select-tree-node-content-wrapper {
    background: #f5f5f5;
  }
  .rc-tree-select-tree-indent {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .rc-tree-select-tree-indent-unit {
    display: inline-block;
    width: 24px;
  }
  .rc-tree-select-tree .rc-tree-select-tree-switcher {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 24px;
    height: 24px;
    margin: 0;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
  }
  .rc-tree-select-tree .rc-tree-select-tree-switcher .rc-tree-tree-switcher-icon,
  .rc-tree-select-tree .rc-tree-select-tree-switcher .anticon {
    font-size: 10px;
    display: inline-block;
    font-weight: bold;
  }
  .rc-tree-select-tree .rc-tree-select-tree-switcher .rc-tree-tree-switcher-icon svg,
  .rc-tree-select-tree .rc-tree-select-tree-switcher .anticon svg {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .rc-tree-select-tree .rc-tree-select-tree-switcher-noop {
    cursor: default;
  }
  .rc-tree-select-tree .rc-tree-select-tree-switcher_close .anticon svg {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .rc-tree-select-tree .rc-tree-select-tree-switcher-loading-icon {
    color: #1890ff;
  }
  .rc-tree-select-tree .rc-tree-select-tree-checkbox {
    top: initial;
    margin: 4px 8px 0 0;
  }
  .rc-tree-select-tree .rc-tree-select-tree-node-content-wrapper {
    min-height: 24px;
    margin: 0;
    padding: 0 4px;
    color: inherit;
    line-height: 24px;
    background: transparent;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .rc-tree-select-tree .rc-tree-select-tree-node-content-wrapper:hover {
    background-color: #f5f5f5;
  }
  .rc-tree-select-tree .rc-tree-select-tree-node-content-wrapper.rc-tree-select-tree-node-selected {
    background-color: #2684FF;
    color: #fff;
  }
  .rc-tree-select-tree .rc-tree-select-tree-node-content-wrapper .rc-tree-select-tree-iconEle {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
  }
  .rc-tree-select-tree .rc-tree-select-tree-node-content-wrapper .rc-tree-select-tree-iconEle:empty {
    display: none;
  }
  .rc-tree-select-tree-node-content-wrapper[draggable='true'] {
    line-height: 20px;
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .rc-tree-select-tree .rc-tree-select-tree-treenode.drag-over > [draggable] {
    color: white;
    background-color: #1890ff;
    opacity: 0.8;
  }
  .rc-tree-select-tree .rc-tree-select-tree-treenode.drag-over-gap-top > [draggable] {
    border-top-color: #1890ff;
  }
  .rc-tree-select-tree .rc-tree-select-tree-treenode.drag-over-gap-bottom > [draggable] {
    border-bottom-color: #1890ff;
  }
  .rc-tree-select-tree-show-line {
    /* Motion should hide line of measure */
  }
  .rc-tree-select-tree-show-line .rc-tree-select-tree-indent-unit {
    position: relative;
    height: 100%;
  }
  .rc-tree-select-tree-show-line .rc-tree-select-tree-indent-unit::before {
    position: absolute;
    top: calc(100% - 4px);
    right: -12px;
    bottom: -28px;
    border-right: 1px solid #d9d9d9;
    content: '';
  }
  .rc-tree-select-tree-show-line .rc-tree-select-tree-indent-unit-end::before {
    display: none;
  }
  .rc-tree-select-tree-show-line .rc-tree-select-tree-treenode-motion:not(.rc-tree-motion-collapse-leave):not(.rc-tree-motion-collapse-appear-active) .rc-tree-select-tree-indent-unit::before {
    display: none;
  }
  .rc-tree-select-tree-show-line .rc-tree-select-tree-switcher {
    z-index: 1;
    background: #fff;
  }
  .rc-tree-tree-select-dropdown-rtl .rc-tree-select-tree .rc-tree-select-tree-switcher_close .anticon svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

.rc-tree-select.error .rc-tree-select-arrow {
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  cursor: pointer;
  pointer-events: initial;
}
