* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

audio:focus {
    outline: none;
}

.vacancies-list {
    margin: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.vacanci-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
}

.vacanci-item:last-child {
    border: none;
}

.vacanci-item-button {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    padding: 4px 15px;
    border-radius: 2px;
}

.vacanci-item-button:hover{
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
}

.vacanci-item-button a {
    color: inherit;
    text-decoration: none;
}

.vacancy-placeholder {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}

/* Modal */
.modalCloseButton {
    top: 0;
    right: 0;
    fill: rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

.modalCloseButton:hover {
    fill: rgba(0,0,0,.75);
}

.modalCloseButton:focus {
    outline: none;
    fill: rgba(0,0,0,.75);
}

.modal {
    padding-top: 28px;
}

.form-header {
    display: flex;
    align-items: center;
}

.form-header .vacancy-title {
    width: calc(100% - 75px);
    display: inline-block;
}

.form-header .language-select {
    width: 75px;
    display: inline-block;
}
